:root {
  font-family: 'Roboto', sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --black: #020203;
  --grey-dark: #282d30;
  --red: #ff0101;
  --red-dark: #e60000;
  --red-light: #ff0000;
  --bg-white: #fbfbfb;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: inherit;
}

body {
  min-width: 1024px;
  min-height: 100vh;
}

li {
  list-style: none;
}
